
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<br />
<p>BotExtension is an ASP.NET Core application built as a Site Extension for Azure App Service. The main intention of this 
    application is to provide assistance to isolate and troubleshoot common errors related to Azure Bot Service and Azure Bot SDK.
    
    <br />
    
    This is an open source project licensed under GNU. You can reach out to <a href="mailto:Abhilash.Rejanair@microsoft.com">Abhilash</a> to report bugs or request features. 
    </p>

